{{ if .TestCase.SetupScriptPath -}}
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
- command: {{ .TestCase.SetupScriptPath }}
{{ end }}
{{- range $resource := .Resources -}}
---
{{ $resource.YAML }}
{{- end }}