apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: {{ .TestCase.Timeout }}
commands:
- script: if [ -f {{ .Options.HooksDirectory }}/pre.sh ]; then {{ .Options.HooksDirectory }}/pre.sh; else echo "No pre hook provided..."; fi
{{- if not .Options.Composite }}
- command: ${KUBECTL} annotate managed --all upjet.upbound.io/test=true --overwrite
{{- end }}
{{- range $name, $example := .Examples }}
{{- if $example.Namespace }}
- command: ${KUBECTL} wait {{ $name }} --for=condition={{ $example.WaitCondition }} --timeout 10s -n {{ $example.Namespace }}
{{- else }}
- command: ${KUBECTL} wait {{ $name }} --for=condition={{ $example.WaitCondition }} --timeout 10s
{{- end }}
{{- end }}
- script: if [ -f {{ .Options.HooksDirectory }}/post.sh ]; then {{ .Options.HooksDirectory }}/post.sh; else echo "No post hook provided..."; fi