apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
{{- if .Options.Composite }}
- command: ${KUBECTL} delete claim --all --all-namespaces --wait=false
- command: ${KUBECTL} delete composite --all --wait=false
{{- else }}
- command: ${KUBECTL} delete managed --all --wait=false
{{- end }}
