# This file belongs to the resource delete step.
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
{{- range $resource := .Resources }}
{{- if eq $resource.KindGroup "secret." -}}
  {{continue}}
{{- end -}}
{{- if $resource.PreDeleteScriptPath }}
- command: {{ $resource.PreDeleteScriptPath }}
{{- end }}
{{- if $resource.Namespace }}
- command: ${KUBECTL} delete {{ $resource.KindGroup }}/{{ $resource.Name }} --wait=false --namespace {{ $resource.Namespace }} --ignore-not-found
{{- else }}
- command: ${KUBECTL} delete {{ $resource.KindGroup }}/{{ $resource.Name }} --wait=false --ignore-not-found
{{- end }}
{{- if $resource.PostDeleteScriptPath }}
- command: {{ $resource.PostDeleteScriptPath }}
{{- end }}
{{- end }}
