name: Run Uptest

on:
  workflow_call:
    inputs:
      trigger-keyword:
        description: 'Keyword to trigger the workflow, defaults to /test-examples'
        default: '/test-examples'
        required: false
        type: string
      go-version:
        description: 'Go version to use if building needs to be done'
        default: '1.20'
        required: false
        type: string
      package-type:
        default: 'provider'
        required: false
        type: string
      cleanup-disk:
        description: "If set to true, an initial step will be run to reclaim some extra disk space for the uptest job in this workflow"
        required: false
        type: boolean
        default: false
      update-test-parameter:
        description: 'Input parameter to use during update step. If this field
        is empty, then the update step will be skipped.
        The update parameter should be a serialized JSON object and if the JSON
        object has nested children, then there must be only one leaf.
        Example: {"tags":{"uptest":"update"}}
        This parameter will add a tag to the test resource.'
        default: ''
        required: false
        type: string
      runs-on:
        default: e2-standard-8
        required: false
        type: string
      auto-run-label:
        description: 'Label that triggers automatic execution of uptest when added to PR'
        default: 'run-e2e-tests'
        required: false
        type: string
    secrets:
      UPTEST_CLOUD_CREDENTIALS:
        description: 'Uptest cloud credentials to be passed to the uptest target as environment variable'
        required: true
      UPTEST_DATASOURCE:
        description: 'A set of key-value pairs to be injected into the uptest'
        required: false

jobs:
  debug:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Debug
        run: |
          echo "Trigger keyword: ${{ inputs.trigger-keyword }}"
          echo "Go version: ${{ inputs.go-version }}"
          echo "github.event.comment.author_association: ${{ github.event.comment.author_association }}"
          echo "github.event_name: ${{ github.event_name }}"
          echo "github.event.label.name: ${{ github.event.label.name }}"

  check-permissions:
    runs-on: ${{ inputs.runs-on }}
    outputs:
      allowed: ${{ steps.check-permissions.outputs.allowed }}

    steps:
      - name: Check permissions
        id: check-permissions
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ALLOWED=$(curl -s -H "Authorization: token $GH_TOKEN" "https://api.github.com/repos/${{ github.repository }}/collaborators/${{ github.event.sender.login }}/permission" | jq '.user.permissions.maintain')
          echo "allowed=${ALLOWED}" >> $GITHUB_OUTPUT


  get-example-list:
    if: needs.check-permissions.outputs.allowed == 'true'
    runs-on: ${{ inputs.runs-on }}
    needs: check-permissions
    outputs:
      example_list: ${{ steps.get-example-list-from-comment.outputs.example-list }}
      example_hash: ${{ steps.get-example-list-from-comment.outputs.example-hash }}

    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
        with:
          submodules: true

      - name: Checkout PR
        if: ${{ github.event_name == 'issue_comment' }} || ${{ github.event_name == 'pull_request' }}
        id: checkout-pr
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" == "issue_comment" ]; then
            gh pr checkout ${{ github.event.issue.number }}
          elif [ "${{ github.event_name }}" == "pull_request" ]; then
            gh pr checkout ${{ github.event.pull_request.number }}
          fi
          git submodule update --init --recursive
          OUTPUT=$(git log -1 --format='%H')
          echo "commit-sha=$OUTPUT" >> $GITHUB_OUTPUT

      - name: Get Example List from Comment
        if: ${{ github.event_name == 'issue_comment' }}
        env:
          COMMENT: ${{ github.event.comment.body }}
        id: get-example-list-from-comment
        run: |
          PATHS=$(echo $COMMENT | sed 's/^.*\${{ inputs.trigger-keyword }}="//g' | cut -d '"' -f 1 | sed 's/,/ /g')
          EXAMPLE_LIST=""
          for P in $PATHS; do EXAMPLE_LIST="${EXAMPLE_LIST},$(find $P -name '*.yaml' | tr '\n' ',')"; done

          sudo apt-get -y install coreutils
          COUNT=$(echo ${EXAMPLE_LIST:1} | grep -o ".yaml" | wc -l)
          if [ $COUNT -gt 1 ]; then EXAMPLE_HASH=$(echo ${EXAMPLE_LIST} | md5sum | cut -f1 -d" "); else EXAMPLE_HASH=$(echo ${EXAMPLE_LIST:1} | sed 's/.$//'); fi

          echo "Examples: ${EXAMPLE_LIST:1}"
          echo "Example Hash: ${EXAMPLE_HASH}"

          echo "example-list=${EXAMPLE_LIST:1}" >> $GITHUB_OUTPUT
          echo "example-hash=${EXAMPLE_HASH}" >> $GITHUB_OUTPUT

      - name: Create Pending Status Check
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            /repos/${{ github.repository }}/statuses/${{ steps.checkout-pr.outputs.commit-sha }} \
            -f state='pending' \
            -f target_url='https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}' \
            -f description='Running...' \
            -f context="Uptest-${{ steps.get-example-list-from-comment.outputs.example-hash }}"

  uptest:
    if: needs.check-permissions.outputs.allowed == 'true'
    runs-on: ${{ inputs.runs-on }}
    needs: get-example-list

    steps:
      - name: Cleanup Disk
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        if: ${{ inputs.cleanup-disk }}
        with:
          android: true
          dotnet: true
          haskell: true
          tool-cache: true
          large-packages: false
          swap-storage: false

      - name: Setup QEMU
        uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7 # v2
        with:
          platforms: all

      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
        with:
          submodules: true

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: ${{ inputs.go-version }}

      - name: Checkout PR
        if: ${{ github.event_name == 'issue_comment' }} || ${{ github.event_name == 'pull_request' }}
        id: checkout-pr
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" == "issue_comment" ]; then
            gh pr checkout ${{ github.event.issue.number }}
          elif [ "${{ github.event_name }}" == "pull_request" ]; then
            gh pr checkout ${{ github.event.pull_request.number }}
          fi
          git submodule update --init --recursive
          OUTPUT=$(git log -1 --format='%H')
          echo "commit-sha=$OUTPUT" >> $GITHUB_OUTPUT

      - name: Find Go Caches
        if: ${{ inputs.package-type == 'provider' }}
        id: go
        run: |
          echo "cache=$(make go.cachedir)" >> $GITHUB_OUTPUT
          echo "modcache=$(make go.mod.cachedir)" >> $GITHUB_OUTPUT

      - name: Cache the Go Build Cache
        if: ${{ inputs.package-type  == 'provider' }}
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4
        with:
          path: ${{ steps.go.outputs.cache }}
          key: ${{ runner.os }}-build-uptest-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-build-uptest-

      - name: Cache the Go Dependencies
        if: ${{ inputs.package-type  == 'provider' }}
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4
        with:
          path: ${{ steps.go.outputs.modcache }}
          key: ${{ runner.os }}-pkg-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-pkg-

      - name: Vendor Dependencies
        if: ${{ inputs.package-type == 'provider' }}
        run: make vendor vendor.check

      - name: Run Uptest
        id: run-uptest
        env:
          UPTEST_CLOUD_CREDENTIALS: ${{ secrets.UPTEST_CLOUD_CREDENTIALS }}
          UPTEST_EXAMPLE_LIST: ${{ needs.get-example-list.outputs.example_list }}
          UPTEST_TEST_DIR: ./_output/controlplane-dump
          UPTEST_DATASOURCE_PATH: .work/uptest-datasource.yaml
          UPTEST_UPDATE_PARAMETER: ${{ inputs.update-test-parameter }}
        run: |
          mkdir -p .work && echo "${{ secrets.UPTEST_DATASOURCE }}" > .work/uptest-datasource.yaml
          make e2e

      - name: Create Successful Status Check
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EXAMPLE_HASH: ${{ needs.get-example-list.outputs.example_hash }}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            /repos/${{ github.repository }}/statuses/${{ steps.checkout-pr.outputs.commit-sha }} \
            -f state='success' \
            -f target_url='https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}' \
            -f description='Passed' \
            -f context="Uptest-${EXAMPLE_HASH}"

      - name: Collect Cluster Dump
        if: always()
        run: |
          make controlplane.dump

      - name: Upload Cluster Dump
        if: always()
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4
        with:
          name: controlplane-dump
          path: ./_output/controlplane-dump

      - name: Cleanup
        if: always()
        run: |
          eval $(make --no-print-directory build.vars)
          ${KUBECTL} delete managed --all || true

      - name: Create Unsuccessful Status Check
        if: failure()
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EXAMPLE_HASH: ${{ needs.get-example-list.outputs.example_hash }}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            /repos/${{ github.repository }}/statuses/${{ steps.checkout-pr.outputs.commit-sha }} \
            -f state='failure' \
            -f target_url='https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}' \
            -f description='Failed' \
            -f context="Uptest-${EXAMPLE_HASH}"
