name: Updoc

on:
  workflow_call:
    inputs:
      providers:
        description: 'Family provider names for which to publish the docs, e.g., "monolith config". The provider names should be space-delimited.'
        default: 'monolith'
        required: false
        type: string
    secrets:
      UPBOUND_CI_PROD_BUCKET_SA:
        required: true

env:
  GO_VERSION: "1.20"
  UPTEST_VERSION: "83bd901"

jobs:
  publish-docs:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #v3
        with:
          submodules: true

      - name: Setup Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Find Go Caches
        id: go
        run: |
          echo "cache=$(make go.cachedir)" >> $GITHUB_OUTPUT
          echo "modcache=$(make go.mod.cachedir)" >> $GITHUB_OUTPUT

      - name: Cache the Go Build Cache
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3
        with:
          path: ${{ steps.go.outputs.cache }}
          key: ${{ runner.os }}-build-updoc-artifacts-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-build-updoc-artifacts-

      - name: Cache Go Dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3
        with:
          path: ${{ steps.go.outputs.modcache }}
          key: ${{ runner.os }}-updoc-pkg-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-updoc-pkg-

      - name: Create Service Account File
        env:
          GAC: ${{ secrets.UPBOUND_CI_PROD_BUCKET_SA }}
        run: |
          echo "${GAC}" > sa.json

      - name: Upload Docs
        env:
          GOOGLE_APPLICATION_CREDENTIALS: sa.json
          PROVIDER_NAME: ${GITHUB_REPOSITORY#*/}
          VER_MAJOR_MINOR: v${GITHUB_REF#"refs/heads/release-"}
          SUBPACKAGES: ${{ inputs.providers }}
        run: |
          if [[ "${GITHUB_REF##*/}" == release-* ]]; then
            for s in $SUBPACKAGES; do
              PROVIDER_PACKAGE_NAME="${{ env.PROVIDER_NAME }}-$s"
              DOCS_DIR="./docs/family"
                if [ $s == 'monolith' ]; then
                  PROVIDER_PACKAGE_NAME="${{ env.PROVIDER_NAME }}"
                  DOCS_DIR="./docs/monolith"
                elif [ $s == 'config' ]; then
                  PROVIDER_PACKAGE_NAME="provider-family-${GITHUB_REPOSITORY#*-}"
                  DOCS_DIR="./docs/family"
                fi
                echo "Publishing Docs for $PROVIDER_PACKAGE_NAME, ${{ env.VER_MAJOR_MINOR }} from $DOCS_DIR"
                go run github.com/upbound/uptest/cmd/updoc@${{ env.UPTEST_VERSION }} upload --docs-dir="${DOCS_DIR}" --name="${PROVIDER_PACKAGE_NAME}" --version=${{ env.VER_MAJOR_MINOR }} --bucket-name=bucket-marketplace-docs-production --cdn-domain=https://user-content.upbound.io
            done
          else
            echo "This job can only be run on release branches"
            exit 1
          fi
