name: Updoc

on:
  workflow_call:
    inputs:
      providers:
        description: 'Family provider names for which to publish the docs, e.g., "monolith config". The provider names should be space-delimited.'
        default: 'monolith'
        required: false
        type: string
      go-version:
        description: 'Go version to use if building needs to be done'
        default: '1.20'
        required: false
        type: string
      updoc-version:
        description: 'updoc version to use while publishing the documentation'
        default: '21481764'
        required: false
        type: string
    secrets:
      UPBOUND_CI_PROD_BUCKET_SA:
        required: true

jobs:
  publish-docs:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
        with:
          submodules: true

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: ${{ inputs.go-version }}

      - name: Find Go Caches
        id: go
        run: |
          echo "cache=$(make go.cachedir)" >> $GITHUB_OUTPUT
          echo "modcache=$(make go.mod.cachedir)" >> $GITHUB_OUTPUT

      - name: Cache the Go Build Cache
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4
        with:
          path: ${{ steps.go.outputs.cache }}
          key: ${{ runner.os }}-build-updoc-artifacts-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-build-updoc-artifacts-

      - name: Cache Go Dependencies
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4
        with:
          path: ${{ steps.go.outputs.modcache }}
          key: ${{ runner.os }}-updoc-pkg-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-updoc-pkg-

      - name: Create Service Account File
        env:
          GAC: ${{ secrets.UPBOUND_CI_PROD_BUCKET_SA }}
        run: |
          echo "${GAC}" > sa.json

      - name: Upload Docs
        env:
          GOOGLE_APPLICATION_CREDENTIALS: sa.json
          VER_MAJOR_MINOR: v${GITHUB_REF#"refs/heads/release-"}
          SUBPACKAGES: ${{ inputs.providers }}
        run: |
          if [[ "${GITHUB_REF##*/}" == release-* ]]; then
            for s in $SUBPACKAGES; do
              PROVIDER_PACKAGE_NAME="provider-${GITHUB_REPOSITORY##*-}-${s}"
              DOCS_DIR="./docs/family"
                if [ $s == 'monolith' ]; then
                  PROVIDER_PACKAGE_NAME="provider-${GITHUB_REPOSITORY##*-}"
                  DOCS_DIR="./docs/monolith"
                elif [ $s == 'config' ]; then
                  PROVIDER_PACKAGE_NAME="provider-family-${GITHUB_REPOSITORY##*-}"
                  DOCS_DIR="./docs/family"
                fi
                echo "Publishing Docs for ${PROVIDER_PACKAGE_NAME}, ${{ env.VER_MAJOR_MINOR }} from $DOCS_DIR"
                go run github.com/upbound/uptest/cmd/updoc@${{ inputs.updoc-version }} upload --docs-dir="${DOCS_DIR}" --name="${PROVIDER_PACKAGE_NAME}" --version=${{ env.VER_MAJOR_MINOR }} --bucket-name=bucket-marketplace-docs-production --cdn-domain=https://user-content.upbound.io
            done
          else
            echo "This job can only be run on release branches"
            exit 1
          fi
